.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8ff;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  height: 60vh;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}

.text {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: #183137;
}

.input {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.button-back {
  width: 100%;
  background-color: #5453e3;
}

.button-next {
  width: 100%;
  background-color: #4140e5;
}
