.radio-button-container {
  display: block;
  position: relative;
  padding-left: 22px;
  margin-bottom: 22px;
  cursor: pointer;
  user-select: none;
}

.radio-button-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid #e3e8e9;
  border-radius: 50%;
}

.radio-button-container input:checked ~ .checkmark {
  background-color: #5453e3;
  border-color: #5453e3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-button-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-button-container .checkmark:after {
  top: 6.7px;
  left: 6.7px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}
